body {
    margin: 0;
    padding: 0;
}

section {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.flag1 {
    background: linear-gradient(180deg, #0057b8 50%, #ffd700 50%);
}

.flag2 {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: rgb(209, 0, 0);
    border-radius: 120px;
    border: none;
    width: 120px;
    height: 120px;
}

.flag4 {
    background: linear-gradient(180deg, #ffffff 50%, #ff0000 50%);
}

.triangle {
    width: 0;
    height: 0;
    border: none;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 120px solid blue;
}