body {
    margin: 0;
    padding: 0;
}

section {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
}

.flag1 {
    background: linear-gradient(180deg, #0057b8 50%, #ffd700 50%);
}

.flag2 {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: rgb(209, 0, 0);
    border-radius: 120px;
    border: none;
    width: 120px;
    height: 120px;
}

.flag3 {
    height: 216px;
    background-color: #02529C;
    position: relative;
}

.flag3 div {
    position: absolute;
    border: none;
}

.white1 {
    height: 100%;
    width: 34px;
    background-color: white;
    left: 30%;
}
.white2 {
    height: 34px;
    width: 100%;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
}

.red1 {
    height: 100%;
    width: 20px;
    background-color: #ff0000;
    left: calc(30% + 7px);
}

.red2 {
    height: 20px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff0000;
}



.flag4 {
    background: linear-gradient(180deg, #ffffff 50%, #ff0000 50%);
}

.triangle {
    width: 0;
    height: 0;
    border: none;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 120px solid blue;
}